<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/JavaAug25Session/LearnJava/src"><classes><class name="testNgDemo.LoginTest"><methods><include name="handleCalender"/><include name="captureScreenShot"/></methods></class><class name="testNgDemo.TestNGDemo"><methods><include name="testFunction"/><include name="anotherTestFunction"/></methods></class></classes></test></suite>